/* 
 * Bootstrap Overrides 
 *****************************/

.page-header {
	margin-bottom: 0;
	border-bottom-width: 0;
}
.navbar {
	margin-bottom: 0;
}
.breadcrumb {
	margin-bottom: 0;
}

/* only show the close button when the alert message is being show*/
button[data-dismiss] {
	display: none;
}
.alert button[data-dismiss] {
	display: block;
}

h2.column-header {
	margin-top: 0;
	line-height: normal;
}



/*
 * Custom styles
 *****************************/

.message-placeholder {
	height: 30px;
}

.shift-count {
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.shift-count.zero {
	color: silver;
}
.input-append .shift.span1 {
	width: 20px;
}

i[data-activate-shift-id], 
i[data-deactivate-shift-id], 
i[data-deactivate-shiftdef-id] {
	cursor: pointer;
}

.photo-placeholder {
	width: 200px;
	height: 200px;
	margin: 0 auto 20px auto;
	position: relative;
}
.photo-placeholder.empty {
	border: 2px dashed silver;
}
.photo-placeholder.male {
	background: url(/img/no-male-photo.jpg) no-repeat;
}
.photo-placeholder.female {
	background: url(/img/no-female-photo.jpg) no-repeat;
}
.photo-placeholder h4 {
	text-align: center;
}
.photo-placeholder p {
	position: absolute;
	text-align: center;
	margin: 5px;
	bottom: 5px;
}