.sortable-teams li a {
  color: rgb(151, 151, 151);
}

.sortable-teams li:nth-child(-n+4) a {
  color: rgb(0, 136, 204);
}

.register.form-inline {
  margin: 10px 0 40px 0;
}

.resorter {
  padding-left: 20px;
}

